<table>
    <tr>
        <td>序号</td>
        <td>姓名</td>
        <td>年龄</td>
        <td>号码</td>
        <td>ddd</td>
    </tr>
#foreach ($person in $list)
    <tr color="#235">
        <td>$velocityCount</td>
        <td>$person.name</td>
        <td>$person.age</td>
        <td colspan="2">$person.no</td>
    </tr>
#end
</table>

